
/* Site styles */
html {
	background: #444444 url(../img/dark_embroidery.png); 
}
body {
	width: 800px;
	height: 380px;
	margin: 60px auto 0;
	background: #ebb500 url(../img/bg-slice.png) 0 0 repeat-x; 
	border: solid 10px #eaeaea;
	border-radius: 10px;
	-moz-box-shadow:    0 0 40px 10px #000;
	-webkit-box-shadow: 0 0 40px 10px #000;
	box-shadow:         0 0 40px 10px #000;
	position: relative;
  font-family: "Helvetica Neue";
}
.body-landing-text {
  font-size: 24px;
  margin-top: 55px;
}
.results-left {
  display: inline-block;
  width: 300px;
  padding: 0 15px;
  height: 324px;
  font-size: 21px;
  color: white;
  line-height: 27px;
}
.restaurant-details {
  display: inline-block;
  height: 324px;
  width: 145px;
  color: #fff;
}
.results-right {
  display: inline-block;
  float: right;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 324px;
  overflow: hidden;
}
.results {
  font-family: "Oswald";
  font-size: 20px;
  color: white;
}
.restaurant-results h3 {
  text-align: left;
}
.container {
  clear:both;
}
.map {
  width: 100%;
}

h3 {
  text-align: center;
  font-family: "Oswald";
  font-size: 24px;
}

.large-address {
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 50px;
}
.landing-main-logo {
  width: 12%;
  height: 12%;
  padding-top: 25px;
}
.cat-main-logo {
	position: relative;
  top: -8px;
  left: 347px;
	width: 12%;
	height: 12%;
	padding-top: 25px;
  display:inline-block;
}
.landing {
	text-align: center;
}
.final-location .info {
	float: left;
}
.final-location .summary {
	width: 304px;
}
.final-location .details {
	width: 304px;
}
.final-location .map-pic {
	width: 146px;
}

#dash-logo {
	width: 71px;
	height: 71px;
	border-radius: 10px;
	position: relative;
	top: 110px;
  left: 448px;
	border: 1px solid rgba(255, 255, 255, .1);
}
#dash-words {
	width: 89px;
	height: 16px;
	border-radius: 10px;
	position: relative;
	top: 125px;
	left: 367px;
}
#dash {
	width: 800px;
	height: 380px;
	background: #ebb500 url(../img/Dashpic.jpg); 
	background-position: -193px -99px;
	background-repeat: no-repeat;
}
.close-button {
	width: 44px;
  height: 44px;
  padding-left: 0;
  margin-top: 0;
}
.back-image {
	width: 36px;
	height: 36px;
}
.detail-header {
  position: relative;
}
.detail-header h3 {
  margin: 0;
  line-height: 56px;
}
.nav-button {
  position: absolute;
}
.nav-button.back {
  top: 9px;
  left: 15px;
}
.nav-button.close {
  top: 6px;
  right: 5px; 
}
.button {
  display: inline;
   -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Oswald';
  color: #ffffff;
  font-size: 20px;
  background: #444;
  padding: 10px 30px 10px 30px;
  border: solid #dae2e6 1px;
  text-decoration: none;
  margin-right: 7px;
  text-align: center;
}
.button a{
  display: inline-block;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}
.button:hover {
  background: #a9b4ba;
  text-decoration: none;
}
.categories ul {
  display: block;
  text-align: center;
  padding: 0px;
}

ul .close-button {
	padding-left: 0%;
	margin-bottom: 0;
	float: right;
}
.speech-test {
  
  float: right;
  margin: auto;
  width: 70px;
  font-size: 15px;
  margin-top: 30px;
  display: block;
}
 .results li {
  background-color: #444;
  width: 800px;
  height: 59px;
  text-decoration: none;
  margin-top: 2px;
  list-style-type: none;
 }
 .results li a{
  text-decoration: none;
  list-style-type: none;
  color:white;
 }

 .results ul{
  padding: 0px;
 }
 .venue-name {
  display: inline-block;
  width: 450px;
  height: 59px;
  padding-top: 15px;
  padding-left: 10px;
 }
 .shield {
  margin-right: .5em;
  margin-left: 40px;
  position: relative;
 }
 .shield:after {
  content: url(../img/distanceshield-list_360.png);
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -6px;
  left: -35px;
 }
.star {
  margin-right: .5em;
  margin-left: 40px;
  position: relative;
}
.star:after{
  content: url(../img/ratingstar-list_360.png);
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -6px;
  left: -35px;
}
.restaurant-details .star, .restaurant-details .shield {
  display: block;
}
.rating-col {
  width: 225px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 10px;
}
 .restaurant-results {
  background-color: #444;
  height: 324px;
 }
 .speak-review {
  display: block;
  width: 145px;
  background: transparent url(../img/spoken.png) 0 0 no-repeat; 
 }
/*loader css*/
.loader {
  font-size: 8px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}