body {
	background: #ebb500 url(img/bg-slice.png) 0 0 repeat-x; 
}
.main-logo {float: right;}
.landing {
	text-align: center;
}
.final-location .info {
	float: left;
}
.final-location .summary {
	width: 304px;
}
.final-location .details {
	width: 304px;
}
.final-location .map-pic {
	width: 146px;
}