
/* Site styles */
html {
	background: #444444 url(../img/dark_embroidery.png); 
}
body {
	width: 800px;
	height: 380px;
	margin: 60px auto 0;
	background: #ebb500 url(../img/bg-slice.png) 0 0 repeat-x; 
	border: solid 10px #eaeaea;
	border-radius: 10px;
	-moz-box-shadow:    0 0 40px 10px #000;
	-webkit-box-shadow: 0 0 40px 10px #000;
	box-shadow:         0 0 40px 10px #000;
	position: relative;
  font-family: "Helvetica Neue";
}
.body-landing-text {
  font-size: 24px;
  margin-top: 55px;
}

.results-left {
  display: inline-block;
  margin-left: 10px;
}
.results-right {
  display: inline-block;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.map {
  width: 75%;
}

h3 {
  text-align: center;
}

.large-address {
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 50px;
}
.landing-main-logo {
  width: 12%;
  height: 12%;
  padding-top: 25px;
}
.cat-main-logo {
	position: relative;
  top: -8px;
  left: 347px;
	width: 12%;
	height: 12%;
	padding-top: 25px;
  display:inline-block;
}
.landing {
	text-align: center;
}
.final-location .info {
	float: left;
}
.final-location .summary {
	width: 304px;
}
.final-location .details {
	width: 304px;
}
.final-location .map-pic {
	width: 146px;
}

#dash-logo {
	width: 71px;
	height: 71px;
	border-radius: 10px;
	position: relative;
	top: 110px;
  left: 448px;
	border: 1px solid rgba(255, 255, 255, .1);
}
#dash-words {
	width: 89px;
	height: 16px;
	border-radius: 10px;
	position: relative;
	top: 125px;
	left: 367px;
}
#dash {
	width: 800px;
	height: 380px;
	background: #ebb500 url(../img/Dashpic.jpg); 
	background-position: -193px -99px;
	background-repeat: no-repeat;
}
.close-button {
	width: 5%;
  height: 5%;
  padding-left: 0;
  margin-top: 0;
  display: inline;
  position: relative;
  float:right;
}
.back-image {
	width: 5%;
	height: 5%;
	padding-top: 5px;
	padding-left: 5px;
}
.button-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.button {
  display: inline;
   -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Oswald';
  color: #ffffff;
  font-size: 20px;
  background: #4f5457;
  padding: 10px 30px 10px 30px;
  border: solid #dae2e6 1px;
  text-decoration: none;
  margin-right: 7px;
  text-align: center;
}
.button a{
  display: inline-block;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}
.button:hover {
  background: #a9b4ba;
  text-decoration: none;
}
.categories ul {
  display: block;
  text-align: center;
  padding: 0px;
}
.button-nav li {
	display: inline;
}
ul .close-button {
	padding-left: 0%;
	margin-bottom: 0;
	float: right;
}
.speech-test {
  
  float: right;
  margin: auto;
  width: 70px;
  font-size: 15px;
  margin-top: 30px;
  display: block;
}
 .results li {
  background-color: gray;
  width:770px;
  height: 51px;
  text-decoration: none;
  margin-top: 2px;
  border-radius: 6px;
  list-style-type: none;
 }
 .results li a{
  text-decoration: none;
  list-style-type: none;
 }

 .result ul{
  padding: 0px;
 }
/*loader css*/
.loader {
  font-size: 8px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}