<div>
	<a href="#/"><img class='close-button' src="../img/close-x.png"></a>
	<img class="cat-main-logo" ng-src="img/highfive-app-logo-sm.png">
</div>

<div class="categories" ng-controller="CategoriesController as categoriesCtrl">
	<h3 class="large-address">Here are the HighFive categories...</h3>
	<ul>
		<li class="button" style="button" ng-repeat="category in categoriesCtrl.categories" ><a ng-href="#/categories/{{category | lowercase}}">{{category}}</a></li>
	</ul>
	<a class="button speech-test" href="" ng-click="categoriesCtrl.speech(categoriesCtrl.categories)">Click to hear menu</a>
</div>

